<h3>Add Assignment</h3>

<p>
  <label>Assignment Name: </label>
  <input type="string" [(ngModel)]="assignmentName" />
</p>

<p>
  <label>Scored Points: </label>
  <input type="number" [(ngModel)]="scoredPoints" />
</p>

<p>
  <label>Points Possible: </label>
  <input type="number" [(ngModel)]="pointsPossible" />
</p>


 <button (click)="addAssignmentRow()">Add Assignment</button>

 <h3>Assignments</h3>
 <p *ngIf="!assignmentTable.length">(Add an assignment to generate a table)</p>

 <table *ngIf="assignmentTable.length">
  <tr>
    <th>Assignment Name</th>
    <th>Points Scored</th>
    <th>Points Possible</th>
    <th>Percent</th>
  </tr>
    <tr *ngFor="let assignmentRow of assignmentTable">
    <td>{{assignmentRow.assignmentName}}</td>
    <td>{{assignmentRow.scoredPoints}}</td>
    <td>{{assignmentRow.pointsPossible}}</td>
    <td>{{assignmentRow.assignmentDecimal | percent:'1.0-1' }}</td>
  </tr>
  
</table>